<div *ngIf="isLogged" class="layout-wrapper" >
<app-topbar (menuButtonClick)="onMenuButtonClick()" [isLogged]="isLogged"></app-topbar>
<app-menu (menuButtonClick)="onMenuButtonClick()" [active]="menuActive" [isLogged]="isLogged"></app-menu>
<div  class="layout-mask" [ngClass]="{'layout-mask-active': menuActive}" (click)="onMaskClick()"></div><div  class="layout-content">
<router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
        
  </div>
  <div *ngIf="!isLogged" class="layout-wrapper" >
  <a (click)="login()">Login</a> 
  </div>