<form multiple  [formGroup]="uploadForm" (ngSubmit)="upload()">

    <div class="preview" *ngIf="imgFile">
      <img [src]="imgFile" style="width:400px; height:250px">
    </div>
  
    <div class="form-group">
      <label for="name">File Name</label>
      <input class="form-control" id="file" formControlName="file" type="text">
      <div *ngIf="uf.name.touched && uf.name.invalid" class="alert alert-danger">
        <div *ngIf="uf.name.errors">Name is required.</div>
      </div>
    </div>
  
    <div class="form-group">
      <label for="file">File</label>
      <input type="file" class="form-control" id="file" formControlName="file" (change)="onImageChange($event)">
      <div *ngIf="uf.file.touched && uf.file.invalid" class="alert alert-danger">
        <div *ngIf="uf.file.errors">Image file is required.</div>
      </div>
    </div>
  
    <button class="btn btn-success" type="submit">Upload File</button>
  
  </form>